# Dados locais das etapas
**/data/raw/*
**/data/input/*
**/data/output/*

# Excecao para manter qualquer pasta estruturada
!**/.gitkeep

# Excecao para os arquivos de status dos datasets
!**/data/input/*_Status.csv

# Caches e arquivos temporarios do Jupyter
.ipynb_checkpoints/

# Ambientes virtuais
.env
.venv/
venv/
env/

# Caches do Python
__pycache__/
*.py[cod]

# Editores e sistema operacional
.vscode/
.idea/
.DS_Store
Thumbs.db